.custom-progressbar {
    z-index: 3;
    height: 8px;
    border-radius: 0px;
    background: var(--dark);
}

.custom-progressbar .custom-progressbar-body {
    background: var(--primary) !important;
    height: 8px;
    border-radius: 0px;
    box-shadow: 0px 2px 4px rgba(57, 181, 74, 0.4);
    transition: all .5s;
}
