.nextprevious{
    overflow: auto;
    width: 100%;
    margin: 5px 0px;
    padding: 0 calc((100% - 620px) / 2);
}
@media only screen and (max-width:991px){
    .nextprevious{
        padding: 0px 15px;
    }
}
